<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Select Quiz!</div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let q of quoteQuestions;let i = index"><a [routerLink]="[i]"
                                                                                    class="list-group-item"
                                                                                    routerLinkActive="active">{{q.id}} </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>
