<div class="jumbotron">
  <div class="page-header">
    <h1 class="text-center">Who's quote is it??</h1>
  </div>
  <div class="text-center" >
    <div >
<quote-image-displayer [personImage]="imgPath" [defaultImage]="defaultImg" [clicked]="isSelected"></quote-image-displayer>
    </div>

    <blockquote class="prim">
      <p>{{quoteQuestion.quotes[current].quote}}</p>
    </blockquote>
  </div>
  <quote-person-displayer [persons]="quoteQuestion.persons" [correctAnswer]="quoteQuestion.quotes[current].answer"
                          (selectedPerson)="onSelectedPerson($event)"></quote-person-displayer>
  <button type="button" class="btn btn-primary" (click)="onNext()">Next</button>
</div>

